


<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->
    <!-------------------- Header Area (Start) -------------------->
    <!-------------------- Header Area (End) -------------------->
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>
                        Olá!</h1>
                        <h1>Nós temos <span class="typing-text"></span></h1>
                        <p>
                            Na Marynsino, acreditamos que a educação é a chave para desbloquear o potencial máximo de
                            cada indivíduo. Como uma empresa dedicada à excelência educacional, oferecemos uma variedade
                            de serviços personalizados projetados para atender às necessidades únicas de cada aluno.
                        </p>
                        <a href="#" class="btn">Contate-me <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="Images/Home/logo.jpg" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->
    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/Home/logo.jpg" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Nós somos a Marynsino</h2>
                <p>
                    A Marynsino é uma empresa de educação que oferece serviços como consultoria educacional, treinamento
                    de professores, desenvolvimento de materiais didáticos, cursos e workshops, plataformas de
                    e-learning, avaliação de desempenho acadêmico e suporte psicopedagógico. Focada na qualidade e
                    inovação, a Marynsino adapta suas soluções às necessidades específicas de seus clientes, promovendo
                    a excelência educacional.
                </p>

                <div class="about-info">

                    <div class="info">
                        <h4>Tempo no mercado: <span>5 anos</span></h4>
                        <h4>Área especilizada: <span>Educação</span></h4>
                        <h4>Sedes: <span>Brasil, Estados Unidos</span></h4>

                        <a href="#" class="btn">Baixar Certificado da empresa <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="4">4+</h1>
                            <h3>Anos de experiencia</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="100">100+</h1>
                            <h3>Escolas pelo mundo</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="800">800+</h1>
                            <h3>Total de Alunos formados</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="20">20+</h1>
                            <h3>Total de premios vencidos</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>materias <span>estudadas</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>matematica<span> 95% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>psicologia<span> 90% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Engenharia de Software<span> 85% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Administração<span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Direito<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Biologia<span> 60% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->
    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>nossas <span>qualificações</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2015 - 2016</span>
                        <h3>premio de humanas</h3>
                        <p>
                            Prêmio Ibero-americano de Educação em Direitos Humanos Óscar Arnulfo Romero
                            Reconhecer o trabalho de organizações sociais, empresas e fundações,
                            além de instituições de ensino que promovam iniciativas de educação não-formal.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2016 - 2017</span>
                        <h3>Prêmio Nacional de Educação (PNE)</h3>
                        <p>
                            (PNE) é um reconhecimento de grande prestígio no setor educacional,
                            concedido a instituições escolares que demonstram excelência em várias áreas de atuação.
                            Este prêmio visa destacar e incentivar práticas educativas inovadoras e eficazes,
                            bem como promover a melhoria contínua da qualidade da educação no país.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2017 - 2018</span>
                        <h3>Prêmio de Excelência Acadêmica</h3>
                        <p>
                            é um reconhecimento destinado a instituições escolares que demonstram um desempenho
                            acadêmico notável,
                            tanto em termos de resultados de estudantes quanto em práticas pedagógicas inovadoras.
                            Este prêmio visa destacar e incentivar escolas que alcançam altos padrões de qualidade
                            educacional e servem como modelos de boas práticas.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2018 - 2019</span>
                        <h3>Prêmio de Inovação Pedagógica</h3>
                        <p>
                            O Prêmio de Inovação Pedagógica é um reconhecimento voltado para instituições escolares e
                            educadores que implementam práticas educacionais inovadoras e eficazes,
                            contribuindo significativamente para a melhoria da qualidade do ensino e da aprendizagem.
                            Este prêmio busca destacar iniciativas que vão além das metodologias tradicionais,
                            promovendo novas abordagens que facilitam o desenvolvimento integral dos alunos.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2019 - 2020</span>
                        <h3>Feiras de Ciências e Tecnologia</h3>
                        <p>
                            As Feiras de Ciências e Tecnologia são eventos educacionais que proporcionam uma plataforma
                            para estudantes apresentarem projetos científicos e tecnológicos.
                            Estes eventos visam estimular o interesse pela ciência,
                            tecnologia, engenharia e matemática (STEM),
                            além de promover a pesquisa, a inovação e o pensamento crítico entre os jovens.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020 - 2021</span>
                        <h3>Prêmio de Iniciação Científica</h3>
                        <p>
                            O Prêmio de Iniciação Científica é uma forma valiosa de reconhecer e incentivar jovens
                            talentos na área de pesquisa,
                            contribuindo para o desenvolvimento de futuras gerações de cientistas e pesquisadores.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->
    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>nossos <span>serviços</span></h2>
        </div>

        <div class="box-container" style="display: flex; flex-wrap: wrap; gap: 20px;">

            <div class="service-item">
                <i class="fa fa-book" aria-hidden="true"></i>
                <h3>cursos tecnicos</h3>
                <p>
                    A Marynsino é uma empresa de serviços na área de educação que oferece uma variedade de cursos
                    técnicos destinados a preparar os alunos para o mercado de trabalho com habilidades práticas e
                    específicas em diversas áreas.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <h3>professores particulares</h3>
                <p>
                    Os professores da Marynsino são uma parte essencial da qualidade educacional oferecida pela empresa.
                    Eles são selecionados com base em critérios rigorosos que garantem tanto a excelência acadêmica
                    quanto a experiência prática em suas respectivas áreas de atuação.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-info" aria-hidden="true"></i>
                <h3>reforços</h3>
                <p>
                    A Marynsino oferece uma série de serviços de reforço educacional destinados a ajudar os alunos a
                    superar desafios acadêmicos, melhorar seu desempenho escolar e alcançar seus objetivos educacionais,
                    Esses serviços são projetados para fornecer suporte adicional em áreas específicas.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-university" aria-hidden="true"></i>
                <h3>cursinho vestibular</h3>
                <p>
                    Os cursinhos de vestibular da Marynsino são programas de preparação intensiva voltados para alunos
                    que desejam ingressar em universidades por meio do vestibular. Esses cursos são projetados para
                    oferecer uma preparação completa e abrangente.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <h3>cursos certificados</h3>
                <p>
                    Os cursinhos com certificado da Marynsino são programas de preparação para vestibulares e concursos
                    que oferecem um certificado de conclusão ao término do curso. Esses programas são projetados para
                    fornecer uma preparação completa e eficaz.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-wifi" aria-hidden="true"></i>
                <h3>Educação a Distância</h3>
                <p>
                    O ensino a distância (EAD) oferecido pela Marynsino é uma modalidade de aprendizado flexível e
                    acessível, que permite aos alunos estudarem de forma remota, sem a necessidade de frequentar aulas
                    presenciais.
                </p>
            </div>

        </div>

    </section>


    <!-------------------- Services Area (End) -------------------->
    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>meu <span>portifolio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">todos</li>
                <li class="button btn" data-filter="web">presenciais</li>
                <li class="button btn" data-filter="design">a distância</li>
                <li class="button btn" data-filter="photography">reforços</li>

            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/cursos tecnicos.jpg" alt="cursos tecnicos image" />

                    <div class="content">
                        <h4>cursos tecnicos</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/cursos tecnicos.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/cursos tecnicos.jpg" alt="cursos tecnicos image" />
                    <div class="content">
                        <h4>cursos certificados</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/certificado pae.avif"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/professores-particulares.jpg"
                         alt="Professores particulares image" />
                    <div class="content">
                        <h4>professores particulares</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/professores-particulares.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/web educaçaõ.jpg" alt="Professores particulares image" />
                    <div class="content">
                        <h4>ensino a distância</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/web educaçaõ.jpg" class=view-btn>
                            <i class="fas fa-search-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/_reforco-escolar.png" alt="reforços images" />
                    <div class="content">
                        <h4>reforço</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/_reforco-escolar.webp"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/cursinho vestibular.jpg" alt="reforços images" />
                    <div class="content">
                        <h4>cursinho vestibular</h4>
                        <p>categoria</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/cursinho vestibular.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>


            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->
    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>Depoimentos</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa 1.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        "Sou mãe do João, aluno do 8º ano, e gostaria de compartilhar minha experiência com o serviço de
                        reforço escolar da Marynsino.
                        Desde que o João começou a frequentar as aulas de reforço, notei uma melhora significativa em
                        seu desempenho acadêmico.
                        Os professores são extremamente dedicados e têm uma abordagem personalizada que realmente atende
                        às necessidades individuais de cada aluno.
                    </p>

                    <div class="intro">
                        <h3>Amanda Silva</h3>
                        <h5>Sobre: reforço</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa2.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Estudar no cursinho preparatório para vestibular da Marynsino foi uma das melhores decisões que
                        tomei para minha vida acadêmica. Desde o início,
                        fiquei impressionado com a qualidade das aulas e o nível de conhecimento dos professores.
                        Cada aula é cuidadosamente planejada para abordar os principais conteúdos cobrados nos
                        vestibulares mais concorridos do país.
                    </p>

                    <div class="intro">
                        <h3>Lucas Fernandes</h3>
                        <h5>Sobre: cursinho vestibular</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa3.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Meu nome é João e recentemente concluí um curso certificado em Gestão de Projetos pela
                        Marynsino. Minha experiência foi extremamente positiva e transformadora.
                        Desde o primeiro dia,
                        fiquei impressionado com a organização e a qualidade do ensino oferecido.Os professores são
                        altamente qualificados e trazem uma riqueza de experiência prática para as aulas.
                    </p>

                    <div class="intro">
                        <h3>João Almeida</h3>
                        <h5>Sobre: cursos certificados</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa 4.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Meu nome é Peter e recentemente concluí um curso de Administração pelo ensino a distância (EAD)
                        da Marynsino.
                        Minha experiência foi excepcional e superou todas as minhas expectativas. Estava um pouco
                        receoso sobre a eficácia do ensino a distância,
                        mas a Marynsino provou ser uma escolha excelente.A plataforma online é extremamente intuitiva e
                        fácil de navegar, o que facilitou meu acesso ao conteúdo das aulas.
                    </p>

                    <div class="intro">
                        <h3>Peter Martins</h3>
                        <h5>Sobre: Ensino a distância</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa 5.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Sou Mauro e gostaria de compartilhar minha experiência com o serviço de professores particulares
                        da Marynsino. Estava enfrentando dificuldades em algumas matérias importantes para meu curso e
                        decidi buscar ajuda extra.
                        Escolher a Marynsino foi uma decisão acertada e transformadora.Os professores particulares da
                        Marynsino são extremamente qualificados e dedicados.
                    </p>

                    <div class="intro">
                        <h3>Mauro Rodrigues</h3>
                        <h5>Sobre: professores particulares</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pessoa 6.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Meu nome é Daniel e recentemente concluí um curso técnico em Informática pela Marynsino.
                        Minha experiência com a escola foi excepcional e quero compartilhar como essa formação fez
                        diferença na minha vida profissional.Desde o início,
                        fiquei impressionado com a estrutura e a organização dos cursos técnicos da Marynsino.As aulas
                        são ministradas por professores altamente capacitados e com vasta experiência na área.
                    </p>

                    <div class="intro">
                        <h3>Daniel Souza</h3>
                        <h5>Sobre: cursos tecnicos</h5>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->
    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>notí<span></span>cias</h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog1.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>05/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Embrapa</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Recém-inaugurado, Laboratório de Biologia Sintética viabiliza
                            pesquisas na fronteira da ciência
                        </a>
                        <p>
                            O Prédio da Biologia Sintética da Embrapa Recursos Genéticos e Biotecnologia (Brasília – DF)
                            foi inaugurado nesta terça-feira (21/05), com uma área de 935,22 m² e 10 laboratórios.
                        </p>
                        <a href="https://www.embrapa.br/busca-de-noticias/-/noticia/89558652/predio-da-biologia-sintetica-e-inaugurado-na-fronteira-da-ciencia"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog2.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>10/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por UEA notícias</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            UEA lança Pré-Vest: curso preparatório on-line para estudantes
                            e comunidades
                        </a>
                        <p>
                            A Universidade do Estado do Amazonas (UEA) lançou o Pré-Vest na manhã desta quinta-feira
                            (09/05). Trata-se de um curso pré-vestibular on-line e totalmente gratuito.
                        </p>
                        <a href="https://www.metropoles.com/brasil/lula-reclama-de-autonomia-no-bc-pra-servir-quem"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog3.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>20/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>por Educação DF</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Escola pública de Ceilândia arrecada lixo eletrônico e ganha
                            novos computadores
                        </a>
                        <p>
                            Uma ação inovadora de reciclagem de lixo eletrônico realizada pelos alunos do Centro de
                            Ensino Especial (CEE) 2 de Ceilândia tem mobilizado toda a comunidade escolar da região.
                        </p>
                        <a href="https://www.cnnbrasil.com.br/economia/mercado/mercado-financeiro-20-junho-2024/"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog3.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>01/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>por CNN Brasil</span></h5>
                        </div>
                        <a class="main-heading" href="#">Senadores decidem adiar votação do Novo Ensino Médio</a>
                        <p>
                            A Comissão de Educação do Senado decidiu, nesta terça-feira (18), adiar a votação do
                            relatório do projeto de lei do Novo Ensino Médio.O presidente do colegiado, senador Flávio
                            Arns (PSB-PR), concedeu prazo de 24 horas. Uma nova reunião foi marcada para esta
                            quarta-feira (19).
                        </p>
                        <a href="https://www.cnnbrasil.com.br/politica/senadores-decidem-adiar-votacao-do-novo-ensino-medio/"
                           class="btn">leia mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/blog4.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>20/06/2024</span></h5>
                            <h5><i class="fas fa-user"></i><span>por CNN Brasil</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Especialistas reforçam necessidade de políticas públicas para
                            pessoas autistas
                        </a>
                        <p>
                            Número de matrículas de pessoas com autismo no Brasil subiu no último ano; saiba mais sobre
                            como o ensino atual inclui crianças e adolescentes com necessidades especiais
                        </p>
                        <a href="https://www.cnnbrasil.com.br/saude/especialistas-reforcam-necessidade-de-politicas-publicas-para-pessoas-autistas/"
                           class="btn">read more <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->
    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>nossos </span>contatos</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>entre em contato</h3>

                <p>
                    Na Marynsino, estamos sempre à disposição para ajudar. Se você tiver alguma dúvida, sugestão ou
                    precisar de mais informações sobre nossos cursos e serviços, não hesite em nos contatar. Nossa
                    equipe de suporte está pronta para atendê-lo da melhor forma possível.
                </p>

                <div class="info-item">
                    <h4>Telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+123-456-789</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+111-222-333</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>Email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">contato@marynsino.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">suporte@marynsino.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>LinkedIn:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/company/marynsino</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>GitHub:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/marynsino</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="nome" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="assunto" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="mensagem"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">enviar mensagem</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>

    <!-------------------- Contact Area (End) -------------------->
    <!-------------------- Footer Area (Start) -------------------->
    <!-------------------- Footer Area (End) -------------------->
    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>

    <script src="~/vendors/typed/typed.js"></script>

    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['cursos tecnicos', 'professores particulares', 'reforços', 'cursinho vestibular', 'cursos certificados', 'Educação a Distância',],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: 'assets/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
</body>

